.body {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 64px;
  padding-top: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

input {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex: 1;
  padding: 8px;
  font-size: 18px;
  width: 100%;
}

a {
  display: inline-block;
  color: #cc0000;
  opacity: 1;
  visibility: visible;
  -moz-transform: translateY(0) translateZ(0);
  -ms-transform: translateY(0) translateZ(0);
  -webkit-transform: translateY(0) translateZ(0);
  transition: filter 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  letter-spacing: 0.05em;
  text-decoration: none !important;
  position: relative;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background: #cc0000;
  height: 1px;
  width: 100%;
  transform-origin: left center;
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -o-transition: -o-transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  transition: filter tranform 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
}

a:hover {
  color: #cc0000;
  filter: brightness(60%);
}
a:hover::after {
  transform: scaleX(0);
  transform-origin: right center;
}

footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-top: 1px solid lightgray;
}

footer a {
  margin: 0px 8px;
}

#about .row {
  margin-top: 8px;
}

#about img {
  margin-top: 0px;
}

.main-pic {
  position: relative;
  left: 0;
  margin-top: -16px;
  width: 100%;
  margin-bottom: 8px;
  z-index: -1;
}

nav {
  display: block;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  height: 32px;
  flex: 1;
  text-decoration: none;
  list-style: none;
  padding-bottom: 4px;
  transition: background-color 0.4s cubic-bezier(0.15, 0.9, 0.34, 0.95);
  margin-right: 8px;
}
nav li.active {
  background-color: rgba(204, 0, 0, 0.2);
}
nav a {
  color: darkslategray;
  filter: brightness(100%) !important;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0px 16px !important;
}
nav li:hover {
  background-color: rgba(204, 0, 0, 0.4);
}
nav a:after {
  content: none;
}

.nav-brand {
  margin-bottom: 0px;
  margin-right: 8px;

  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 4px 16px;
  background-color: #cc0000;
  border-radius: 2px;
  color: white;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}

.banner-img {
  position: absolute;
  left: 0;
  top: 48px;
  height: calc(100vh - 48px);
  width: 100vw;
  background-image: url(../images/women.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  display: block;
}

.center-info {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  max-width: 800px;
  background: rgba(0, 0, 0, 0.65);
  padding: 16px;
  border-radius: 4px;
}

.center-info * {
  color: white;
}

#main .body h1 {
  text-align: center;
  font-size: 42px;
}

.body h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

#contact-form {
  margin-top: 8px;
  padding-top: 16px;
  border-top: 2px solid black;
}

#contact-form .col-md-6, #login-form .col-md-6 {
  margin-top: 8px;
}

#contact-form .link, #login-form .link {
  text-align: center;
  width: 100%;
  margin-top: 8px;
}

button.btn {
  margin-top: 16px;
  border: 1px solid lightgray;
  width: 100%;
}

section {
  display: flex;
}

aside {
  flex: 1;
}

article {
  flex: 3;
  padding: 0 8px;
}

.patient-row {
  background: lightgray;
  border: 1px solid gray;
  border-radius: 4px;
  margin: 4px 0px;
  padding: 8px 4px;
}

.patient-row .row {
  margin: 4px 8px;
}

p.due-date {
  margin-bottom: 0px;
}

p.location {
  text-align: right;
}

@media (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

@media (max-width: 1023px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .banner-img {

  top: 56px;
  height: calc(100vh - 56px);
  }
  body {
    width: calc(100% - 32px);
    margin: 0 16px;
  }

  .navbar {
    margin-left: -16px;
    margin-right: -16px;
    width: 100vw;
  }

  .navbar-nav {
    padding-top: 12px;
  }

  .navbar .nav-item {
    width: 100%;
  }

  .main-pic {
    position: relative;
    margin-left: -16px;
    width: calc(100% + 32px);
    margin-bottom: 8px;
    z-index: -1;
  }

  #main .body h1 {
    text-align: center;
    font-size: 42px;
    margin-top: 8px;
  }

  .body h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
  }

  .center-info {
    max-width: calc(100vw - 48px);
  }
}
